@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-login {
  background-image: url('/src/assets/background-pattern.png');
}

.bg-footer {
  background-image: url('/src/assets/rectangle.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:10vh;
  /* position: relative;
  bottom:0; */
}
@media (min-width: 300px) and (max-width: 640px){
    .bg-footer{
      height: 7vh;
    }
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  cursor: pointer;
}

.bg-logout {
  background-image: url('/src/assets/background-pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88.5vh;
}

.animate-slide-right {
  background-size: 400%;
  animation: slide-right 3s ease infinite;
}

.animate-slide-left {
  background-size: 400%;
  animation: slide-left 6s ease infinite;
}

@keyframes slide-left {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: -100% 50%;
  }
}

@keyframes slide-right {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media (min-width: 300px) {
  @media not all and (min-width: 640px) {
    .bg-logout {
      height: 93vh;
    }
  }
}