.fpBox {
    width: 55%;
    height: 80%;
    /* border: 2px solid #000; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px black, 0 0 15px rgba(0, 0, 0, 0.5);
    
}
.resetAccount{
    padding-left: 70px;
    padding-right: 70px;
}
#padlock{
    height: 100px;
    width: 120px;
    position: relative;
    left: 140px;
}
.resetAccount h1{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.resetAccount div{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
#enterEmail{
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
    height: 40px;
}
#resetPassBtn{
    background-color: rgb(221, 40, 3);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    width: 180px;
    margin-top: 10px;
    float: right;
}
.resetAccount div p{
    font-weight: bolder;
}
#message{
    font-weight: bold;
    text-align: center;
}
#email{
    height: 30px;
    width: 30px;
}
.infoSide{
    width: 45%;
    height: 100%;
    background-color: rgb(221, 40, 3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoSide h1{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-weight: 750;
    text-align: center;
    font-size: 30px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.infoSide div{
    margin-top: 25px;
}
#firstP{
    color: white;
    text-align: center;
    font-size: 18px;
}
#SecondP{
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
#loginAccBtn{
    background-color: white;
    width: 75%;
    color: rgb(221, 40, 3);
    font-weight: 750;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
    position: relative;
    left: 30px;
}
#userSign{
    height: 125px;
    width: 125px;
}