@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.bg-footer {
  background-image: url('/src/assets/rectangle.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:10vh;
  /* position: relative;
  bottom:0; */
}